body {
    margin: 0;
    font-family: Georgia, serif;
    text-align: center;
    color: #fff8e7;

    background-image: url("assets/background2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    height: 100vh;
    overflow: hidden;
}

h1 {
    margin: 50px 30px 20px 50px;
    font-size: 38px;
    color: #fff8e7;
    text-shadow: 3px 3px 5px #2b1408;
}

#status {
    margin: 4px 0;
    font-size: 18px;
    color: #fff8e7;
    text-shadow: 2px 2px 4px #2b1408;
}

#restart-button {
    padding: 7px 18px;
    margin: 6px;
    font-size: 15px;
    cursor: pointer;

    background-color: #7a3f1d;
    color: #fff8e7;
    border: 2px solid #fff0d0;
    border-radius: 10px;
}

#game-board {
    width: 90vw;
    max-width: 850px;
    margin: 60px auto 0 auto;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 18px;
}

.card {
    width: 100%;
    aspect-ratio: 1 / 1;

    background-image: url("assets/card-cover.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    border: 3px solid #5a2d12;
    border-radius: 12px;

    cursor: pointer;
    overflow: hidden;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4);

    transition: transform 0.2s ease;
}

.card:hover {
    transform: translateY(-5px);
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
}

.card.revealed img,
.card.matched img {
    display: block;
}

.card.revealed,
.card.matched {
    background-image: none;
    background-color: white;
}

.card.matched {
    border-color: #7bbf5b;
}